<div class="main-image" style="background-image: url(<%= asset_path('about/header.jpg') %>)" >
  <%= image_tag "logo-text.png", style: "width: 30%; height: auto; min-width: 350px" %>
</div>

<!-- About Me -->
<a name="about"></a>
<div class="clearfix"></div>
<div style="position: relative">
  <div class="flowers"
    style="background-image: url(<%= asset_path('about/flowers.svg')%>)" >

  </div>
  <div class="container">
    <div class="row center">
      <div class="col-md-12" style="margin-bottom: 70px;">
        <h2 style="color: #89a575">About Me</h2>
        <h4 style="margin-bottom: 10px">
          I am part designer, part developer living, working, and studying in the Seattle area.
        </h4>
        <p>
          I believe the brain can be equally left and right dominant. Although I have a background in Computer Science, I have always had a passion for design and creativity. These days I am filling my time with online training, working with clients, and building and promoting an e-commerce website for an auto restoration company. In the remaining free time you can find me marathon training out on Seattle's beautiful trails.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Web design -->
<a name="skills"></a>
<div class="color-wrapper dark-gray">
  <div class="container">
    <div class="row center inverse">
      <div class="col-xm-12 col-sm-6 col-md-4">
        <%= image_tag "categories/dev.png", alt: "Development", class: "icon-small" %>
        <h3>Web Development</h3>
        <p>I enjoy utilizing my knowledge of computer science from my bachelor’s degree and self-taught skills in Web Development to create responsive solutions.</p>
      </div>
      <div class="col-xm-12 col-sm-6 col-md-4">
        <%= image_tag "categories/interact.png", alt: "Development", class: "icon-small" %>
        <h3>Interaction Design</h3>
        <p>I use skills in user-centered design and the graphic arts to create intuitive and elegant designs.</p>
      </div>
      <div class="col-xm-12 col-sm-6 col-md-4">
        <%= image_tag "categories/print.png", alt: "Development", class: "icon-small" %>
        <h3>Print Design</h3>
        <p>Although my passion is in interaction design, I also enjoy print design and find that it keeps my visual and typography skills sharp.</p>
      </div>
    </div>
  </div>
</div>

<a name="work"></a>
<div class="work">
  <!-- Buttons to sort work -->
  <div id="mix-control">
    <button class="filter btn btn-default light-green all-work" data-filter="all">All Work</button>
    <button class="filter btn btn-default pink" data-filter=".dev">Development</button>
    <button class="filter btn btn-default green" data-filter=".ui">UI Design</button>
    <button class="filter btn btn-default purple" data-filter=".print">Print Design</button>
  </div>

  <!-- Work tiles -->
  <div id="Container">
    <%= link_to "https://brownbear.com/", target: "_blank" do %>
      <div class="tile mix dev" style="background-image: url('<%= asset_path("projects/brown_bear/thumb.png")%>');" data-myorder="1">
        <div class="work-hover"></div>
        <div class="overlay"></div>
        <div class="tile-text">
          <%= image_tag "pink-flower.svg" %>
          <h2>Brown Bear</h2>
          <h4>Design & Development</h4>
        </div>
      </div>
    <% end %>

    <%= link_to "http://jcauto.com", target: "_blank" do %>
      <div class="tile mix dev" style="background-image: url('<%= asset_path("projects/jcauto/thumb.png")%>');" data-myorder="1">
        <div class="work-hover"></div>
        <div class="overlay"></div>
        <div class="tile-text">
          <%= image_tag "pink-flower.svg" %>
          <h2>JC Auto Restoration</h2>
          <h4>Design & Development</h4>
        </div>
      </div>
    <% end %>

    <%= link_to "https://www.behance.net/gallery/24701767/City-University-Website-Redesign", target: "_blank" do %>
      <div class="tile mix ui" style="background-image: url('<%= asset_path("projects/cityu/thumb.png")%>');" data-myorder="1">
        <div class="work-hover"></div>
        <div class="overlay"></div>
        <div class="tile-text">
          <%= image_tag "green-flower.svg" %>
          <h2>City University</h2>
          <h4>Website Design</h4>
        </div>
      </div>
    <% end %>

    <%= link_to "https://www.behance.net/gallery/21913485/INRIX-Careers-Website-Redesign", target: "_blank" do %>
    <div class="tile mix ui" style="background-image: url('<%= asset_path("projects/inrix/thumb.png")%>');" data-myorder="1">
      <div class="work-hover"></div>
      <div class="overlay"></div>
      <div class="tile-text">
        <%= image_tag "green-flower.svg" %>
        <h2>INRIX Careers</h2>
        <h4>Website Design</h4>
      </div>
    </div>
    <% end %>

    <%= link_to "https://www.behance.net/gallery/21920311/Marionnaud-Landing-Page-Design", target: "_blank" do %>
    <div class="tile mix ui" style="background-image: url('<%= asset_path("projects/marionnaud/thumb.png")%>');" data-myorder="1">
      <div class="work-hover"></div>
      <div class="overlay"></div>
      <div class="tile-text">
        <%= image_tag "green-flower.svg" %>
        <h2>Marionnaud</h2>
        <h4>Landing Page Design</h4>
      </div>
    </div>
    <% end %>

    <%= link_to "https://www.behance.net/gallery/24702277/DocuSign-Social-Ad-Banners", target: "_blank" do %>
    <div class="tile mix ui" style="background-image: url('<%= asset_path("projects/docu/thumb.png")%>');" data-myorder="1">
      <div class="work-hover"></div>
      <div class="overlay"></div>
      <div class="tile-text">
        <%= image_tag "green-flower.svg" %>
        <h2>Docusign</h2>
        <h4>Social Ad Banners</h4>
      </div>
    </div>
    <% end %>

    <%= link_to root_url+'Evernote.pdf', { target: '_blank' } do %>
    <div class="tile mix ui" style="background-image: url('<%= asset_path("projects/user-centered-design/thumb.jpg")%>');" data-myorder="1">
      <div class="work-hover"></div>
      <div class="overlay"></div>
      <div class="tile-text">
        <%= image_tag "green-flower.svg" %>
        <h2>UW HCDE Project</h2>
        <h4>Evernote Redesign Proposal</h4>
      </div>
    </div>
    <% end %>

    <%= link_to root_url+'usability-testing.pdf', target: '_blank' do %>
    <div class="tile mix ui" style="background-image: url('<%= asset_path("projects/usability-testing/thumb.jpg")%>');" data-myorder="1">
      <div class="work-hover"></div>
      <div class="overlay"></div>
      <div class="tile-text">
        <%= image_tag "green-flower.svg" %>
        <h2>UW HCDE Project</h2>
        <h4>Parking Pay Station Usability Study</h4>
      </div>
    </div>
    <% end %>

    <%= link_to "https://www.behance.net/gallery/21830671/AT-T-ARO-Animated-Banners", target: "_blank" do %>
    <div class="tile mix ui" style="background-image: url('<%= asset_path("projects/aro1/thumb.png")%>');" data-myorder="1">
      <div class="work-hover"></div>
      <div class="overlay"></div>
      <div class="tile-text">
        <%= image_tag "green-flower.svg" %>
        <h2>AT&T ARO</h2>
        <h4>Animated Banner Design</h4>
      </div>
    </div>
    <% end %>

    <%= link_to "https://www.behance.net/gallery/21832457/AT-T-ARO-Banner-Refresh", target: "_blank" do %>
    <div class="tile mix ui" style="background-image: url('<%= asset_path("projects/aro2/thumb.png")%>');" data-myorder="1">
      <div class="work-hover"></div>
      <div class="overlay"></div>
      <div class="tile-text">
        <%= image_tag "green-flower.svg" %>
        <h2>AT&T ARO</h2>
        <h4>Banner Design</h4>
      </div>
    </div>
    <% end %>

    <%= link_to "https://www.behance.net/gallery/21921043/Microsoft-Office-365-Banners", target: "_blank" do %>
    <div class="tile mix ui" style="background-image: url('<%= asset_path("projects/office/thumb.png")%>');" data-myorder="1">
      <div class="work-hover"></div>
      <div class="overlay"></div>
      <div class="tile-text">
        <%= image_tag "green-flower.svg" %>
        <h2>Microsoft Office</h2>
        <h4>Banner Design</h4>
      </div>
    </div>
    <% end %>

    <div class="tile mix print" style="background-image: url('<%= asset_path("projects/album/thumb.jpg")%>');" data-myorder="1">
      <div class="work-hover"></div>
      <div class="overlay"></div>
      <div class="tile-text">
        <%= image_tag "purple-flower.svg" %>
        <h2>Stitch an Ocean</h2>
        <h4>Album Design</h4>
      </div>
    </div>

    <div class="tile mix print" style="background-image: url('<%= asset_path("projects/wine/thumb.jpg")%>');" data-myorder="1">
      <div class="work-hover"></div>
      <div class="overlay"></div>
      <div class="tile-text">
        <%= image_tag "purple-flower.svg" %>
        <h2>Amelia Wynn</h2>
        <h4>Wine Label Design</h4>
      </div>
    </div>

    <div class="tile mix print" style="background-image: url('<%= asset_path("projects/artist/thumb.jpg")%>');" data-myorder="1">
      <div class="work-hover"></div>
      <div class="overlay"></div>
      <div class="tile-text">
        <%= image_tag "purple-flower.svg" %>
        <h2>Thomas Kinkade</h2>
        <h4>Artist Booklet Design</h4>
      </div>
    </div>

    <div class="tile mix print" style="background-image: url('<%= asset_path("projects/wedding/thumb.jpg")%>');" data-myorder="1">
      <div class="work-hover"></div>
      <div class="overlay"></div>
      <div class="tile-text">
        <%= image_tag "purple-flower.svg" %>
        <h2>Wedding Design</h2>
        <h4>Save the Date Design</h4>
      </div>
    </div>

    <div class="tile mix print" style="background-image: url('<%= asset_path("projects/fresh/thumb.jpg")%>');" data-myorder="1">
      <div class="work-hover"></div>
      <div class="overlay"></div>
      <div class="tile-text">
        <%= image_tag "purple-flower.svg" %>
        <h2>Fresh Air Fitness</h2>
        <h4>Poster Designs</h4>
      </div>
    </div>

    <div class="tile mix print" style="background-image: url('<%= asset_path("projects/line/thumb.jpg")%>');" data-myorder="1">
      <div class="work-hover"></div>
      <div class="overlay"></div>
      <div class="tile-text">
        <%= image_tag "purple-flower.svg" %>
        <h2>Hotel Del Coronado</h2>
        <h4>Line Art</h4>
      </div>
    </div>

    <div class="tile mix print" style="background-image: url('<%= asset_path("projects/invitation/thumb.jpg")%>');" data-myorder="1">
      <div class="work-hover"></div>
      <div class="overlay"></div>
      <div class="tile-text">
        <%= image_tag "purple-flower.svg" %>
        <h2>Parisian Wedding</h2>
        <h4>Invitation Design</h4>
      </div>
    </div>

  </div><!-- Mix Container -->
</div>
<div class="clearfix"></div>

<a name="contact"></a>
<div class="contact inverse" style="background-image: url(<%= asset_path('contact.jpg')%>)">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Contact Information</h3>
        <h4>holmankarla@gmail.com</h4>
        <h4>206.915.1646</h4>
        <h4>Shoreline, WA</h4>

        <h4>
          <%= link_to 'Resume', root_url+'resume.pdf', { target: '_blank' } %>
        </h4>
      </div>

      <div class="col-md-8">
        <h3>Contact Me</h3>
        <%= simple_form_for @contact, :url => "/contact" do |f| %>
          <%= f.input :name, :required => true %>
          <%= f.input :email, :required => true %>
          <%= f.input :message, :as => :text, :required => true %>
          <div class= "hidden">
            <%= f.input :nickname, :hint => 'Leave this field blank!' %>
          </div>
          <div>
            </br>
            <%= f.button :submit, 'Send message', :class=> "btn btn-success" %>
          </div>
        <% end %>
      </div>
      <div>
        <% flash.each do |key, value| %>
          <div>
            <a href="#" data-dismiss="alert">×</a>
              <%= value %>
          </div>
        <% end %>
      </div>

      <div class="col-md-12">

    </div>
  </div>
</div>

<script>
  $( document ).ready(function(){
    // If page is not loaded already scrolled
    if($(window).scrollTop <= $('.navbar').height()){
      $('.navbar').attr("id", "first-nav");
    }
  });

  // Handle fade in nav only on home page
  $( window ).scroll( function() {
    if($(window).scrollTop() > $('.navbar').height()) {
      $('.navbar').attr("id", "");
    } else {
      $('.navbar').attr("id", "first-nav");
    }
  });
</script>
