<footer>
	<div class="container">
		<div class="col-md-6">
		 	&#169; Karla Pollowitz 2016 &#8226; holmankarla@gmail.com
		</div>
		<div class="col-md-6" style="padding-top: 10px; text-align: right;">
			<%= link_to "https://www.linkedin.com/in/karla-holman-75686045" do %>
				<%= image_tag "social/linkedin.svg", class: "social" %>
			<% end %>
			<%= link_to "https://github.com/karla-holman" do %>
				<%= image_tag "social/github.svg", class: "social" %>
			<% end %>
			<%= link_to "https://www.behance.net/gallery/21832457" do %>
				<%= image_tag "social/behance.svg", class: "social" %>
			<% end %>
		</div>
	</div>
</footer>