<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/nav' %>

	<%= yield %>

	<footer>
		<div class="container">
			<div class="col-md-6">
			 	&#169; Karla Pollowitz 2016 &#8226; holmankarla@gmail.com
			</div>
			<div class="col-md-6">
				Social Icons
			</div>
		</div>
	</footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js"></script>
	<%= javascript_include_tag 'work_tiles' %>

</body>
</html>
